* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {  
    margin: 16px;  
    font-size: 100%;   
    color: white;  
    height: 100%;  
    background: linear-gradient(150deg, rgb(86, 4, 88) 0%, rgb(215, 71, 252) 100%);  
    background-attachment: fixed;  
} 

h1 {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 5rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weapon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    
}

button:hover {
    background-color: rgb(224, 38, 224);
}

img {
    border: 3px rgb(0, 0, 0) solid;
    width: 10rem;
    height: 10rem;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 800

}
#play-button {
    display: flex;
    background-color:bisque;
    font-size: large;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#options-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 800

}
@media screen and (min-width: 1140px) {
    .main-container {
      width: 360px;
      margin: 16px auto;
      font-size: 1.1em;
    }